div.search-box {
    display: flex;
    flex-direction: column;
    width: 80%;
}

input {
    height: 3em;
}

label.visually-hidden {
    border: none !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
}